<div class="d-flex justify-content-between align-items-center">
  <h1>Restaurants</h1>
  <%= link_to "Add a new restaurant", new_restaurant_path, class:'btn btn-primary' %>
</div>

<ul class="list-inline">
  <% @restaurants.each do |restaurant| %>
    <li class="jumbotron list-unstyled">
      <em class="btn" style='background-color: white; margin: 0'><%= restaurant.category.capitalize %></em>
      <br><br>
      <h2><%= restaurant.name %></h2>
      <br>
      <%= restaurant.address %>
      <hr>
      <div class="d-flex justify-content-end">
        <%= link_to "Details", restaurant_path(restaurant) %> |
        <%= link_to "Edit", edit_restaurant_path(restaurant) %> |
        <%= link_to "Delete", restaurant_path(restaurant),
              method: :delete, data: { confirm: "Are you sure?" } %>
      </div>
    </li>
  <% end %>
</ul>
